*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: darksalmon;
}

.startbtn button{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: darksalmon;
    padding: 30px 50px;
    border: none;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
}

.startbtn :hover {
    background-color: darkgreen;
}

.startbtn, .rulebox, .result_box, .scorebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rulebox.activeInfo,
.quizbox.activeQuiz,
.result_box.activeResult,
.scorebox.activeScore {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.rulebox {
width: 540px;
background: #fff;
border-radius: 5px;
transform: translate(-50%, -50%) scale(0.9);
opacity: 0;
pointer-events: none;
transition: all 2s ease;
}

.rulebox .rules {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid darkgreen;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    color: darksalmon;
}

.rulebox .rules-list {
    padding: 20px 30px;
}

.rulebox .list {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 400;
    color: darksalmon;
    list-style: none;
    display: inline-block;
    text-align: center;
}

.rulebox .startbtn2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid darkgreen;
}

 .startbtn2 button {
    margin: auto;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: .8px solid black;
    transition: all 0.3s ease;
}

.startbtn2 :hover {
    background-color: darkgreen;
    color: darksalmon;
}

.quizbox {
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quizbox header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkgreen;
}

.quizbox header .title {
    font-size: 25px;
    font-weight: 700;
    color: darksalmon;
    letter-spacing: 4px;
}

.quizbox header .timer{
    color: darkgreen;
    background: antiquewhite;
    border: 1px solid darkgreen;
    height: 42px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.quizbox .timer .timerlive {
    color: salmon;
    font-weight: 600;
    font-size: 20px;
}

.quizbox header .linecounter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: darkgreen;
}

section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .questiontext {
    font-size: 22px;
    background: #fff;
}

section .option_list {
    padding: 20px 0px;
    display: block;
}

section .option_list .option {
    background: antiquewhite;
    border: 1px solid darkgreen;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: darkgreen;
    background: darksalmon;
}

section .option_list .option.correct{
    color: #155724;
    background: lightgreen;
    border: 1px solid green;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: lightpink;
    border: 1px solid red;
}

section .option_list .option.disabled{
    pointer-events: none;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid darkgreen;
}


footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: darksalmon;
    border-radius: 5px;
    background: white;
    border: 1px solid darkgreen;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: darkgreen;
    color: darksalmon;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}


footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .complete_text{
    font-size: 25px;
    font-weight: 500;
    color: darksalmon;
    border-bottom: 1px solid darkgreen;
    padding: 6px;

}

.result_box .nametext {
    font-size: 25px;
    font-weight: 500;
    color: darksalmon;
    border-bottom: 1px solid darkgreen;
    padding: 6px;
}

.result_box .congrats span{
    display: flex;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: darksalmon;
    border-bottom: 1px solid darkgreen;
    padding: 6px;
}

.result_box .congrats span p{
    padding: 0 4px;
    font-weight: 600;
    color: darkgreen;
}

.result_box .nameform {
    font-weight: 600;
    color: darkgreen;
    padding: 20px 20px;
}

.result_box .submitbtn{
    display: flex;
    margin: 20px 0;
}

button.submitbtn {
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid darkgreen;
    align-items: center;
    color: darksalmon;
    background-color: white;
}

 .submitbtn:hover {
    color: darksalmon;
    background: darkgreen;
}

.scorebox {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scorebox .scoretitle{
    font-size: 28px;
    font-weight: 700;
    color: darksalmon;
}

.scorebox .ul li{
    padding: 0 4px;
    font-weight: 600;
    color: darkgreen;
    list-style-type: upper-roman;
}

.scorebox .buttons{
    display: flex;
    margin: 20px 0;
}

.scorebox .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid darkgreen;
}

.buttons button.restart{
    color: darksalmon;
    background: white;
}

.buttons button.restart:hover{
    background: darkgreen;
    color: darksalmon;
}
